
body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity value for desired darkness */
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/torch.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
}
    h1 {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      padding-right: 3%;
      font-size: 40px;
    }

    .logo-left {
      width: 45%; /* Adjust the width as desired */
      height: auto; /* Set height to auto for proportional scaling */
    }

    .logo-left img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .header-content {
      display: flex;
      align-items: center;
    }

    .header-content .flex-grow-1 {
      flex-grow: 1;
      text-align: right;
    }

    .logo-right {
      width: 110px; /* Adjust the width as desired */
      height: auto; /* Set height to auto for proportional scaling */
    }

    .logo-right img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    .img-fluid {
  max-width: 100%;
  height: auto;
  padding-top: 5%;
}

.flex-equal {
    flex: 1;
  }
  
form {
  padding-top: 15%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-input::placeholder {
    color: #999;
}

img.min-size-110 {
    min-width: 110px;
    height: auto;
  }